body {
    background-color: rgb(235, 52, 6);
    font-size: 30px;
    margin: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

header {
    text-align: center;
    font-size: 20px;
    color: rgb(0, 174, 255);
    background-color: rgb(187, 255, 0);
    margin-top: 0px;
    padding: 10px;
}